// $defaultFont: 'Montserrat', sans-serif;

// Font Sizes
$navLinksFont: clamp(1rem, 1.5vw, 1.2rem);
$pFont: 18px;
$headingFont: 30px;
$largeFont: 34px;
$pageHeaderFont: 64px;
$subHeadinfFont: 20px;
$footerFont: 14px;

// Font Weights
$navLinksFontW: 200;
$pFontW: 300;
$headingFontW: 500;
$subHeadinfFontW: 400;
$logoFontW: 700;

// Line Heights
$textLineHeight: 1.4;