.noteCard {
    border-radius: $borderRadius;
    background: $color;
    color: $bgColor;
    padding: $cardPadding;
    margin: $smMargin $mdMargin;
    width: $cardWidth;
    min-height: $cardHeight;

    p {
        margin: $smMargin 0;
        font-size: $weightSm;

        a {
            color: darken($color: $color, $amount: 20);
            font-size: $fontSize;
        }
    }

    h3 {
        font-weight: $weightMd;
    }

    h2 {
        font-weight: $weightLg;
    }
}