$fontSize: 20px;
$headingFont: 24px;
$largeFont: 28px;

$weightSm: 200;
$weightMd: 400;
$weightLg: 500;

$color: #155e75;
$bgColor: #fff;

$borderRadius: 1rem;

$padding: 1rem;
$cardPadding: 2rem;

$smMargin: 1rem;
$mdMargin: 2rem;
$lgMargin: 3rem;

$cardWidth: 25rem;
$cardHeight: 100px;

$gapSm: 1rem;
$gapMd: 2rem;
$gapLg: 3rem;
