$textFont: 18px;
$textMd: 25px;
$textLg: 30px;

$borderColor: 2px solid salmon;

$background: #bae6fd;
$textColor: #082f49;

$paddingSm: 1rem 2rem;
$paddingMd: 2rem 3rem;

$marginSm: 1rem 2rem;
$marginMd: 2rem 3rem;

$gapSm: 1rem;
$gapMd: 1.5rem;

$borderRadius: 1rem;

$boxShadow: 0 0 1rem 0 #082f49;