@import 'utils';

.navBar {
    display: flex;
    padding: $paddingSm;
    justify-content: space-between;
    border-bottom: 2px solid $textColor;

    ul {
        display: flex;
        gap: $gapSm;

        a {
            font-size: $textFont;
            color: $textColor;
        }
    }
}